/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* ---- typography ---- */

body {
  color: #111;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 2em;
  color: white;
  padding: 80px 0;
  text-align: center;
  line-height: 100%;
  max-width: 70%;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 3em;
  padding: 30px 0;
  text-align: center;
}

/* ---- layout ---- */

.main-footer {
  color: white;
  padding: 60px 0;
  background: #111;
}

.container {
  margin: 0 20px;
}

section {
  margin-bottom: 10px;
  padding-top: 10px;
}

/* ---- components ---- */

/* ---- banner ---- */

.banner{
height: 100vh;
background: url(../imgs/hero.jpg) no-repeat center center fixed; 
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
color: coral;
display: flex;
justify-content: center;
align-items: center;
}

.banner h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 3em;
  margin-bottom: 5px;
}
/* ---- portfolio section ---- */

.flex-list {
  display: flex; 
  flex-wrap: wrap; 
}
.flex-list li {
  flex-basis: 100%;
  position: relative;
}
.portfolio-title{
  position: absolute;
  left: 50%;
  top: 50%;
  border: 1px solid black;
  width: 200px;
  height: 100px;
  margin-left: -100px;
  margin-top: -50px;
  transform: translate(-50% -50%);
}

/* ---- section ---- */

.inline-list li{
    display: inline-block;
}

.portfolio__list li{
    width: 20%;
}

.section-intro{
  text-align: center;
  max-width: 50%;
  margin: 0 auto 30px auto; 
}

/* ---- header ---- */

.page-header h1{
    font-size: 1em;
}

.page-header {
background: black;
color: white;
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px 20px;
position: fixed;
top: 0;
left: 0;
width: 100%;
z-index: 10;

}

.page-header a{
color: red;
padding: 5px 10px;

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .page-header{
        background: green;
    }

  .flex-list li {
    flex-basis: 50%;
  }
  
  .section-intro{
    max-width: 80%;
  
  }

}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

a{
    color: orange;
}
a:hover{color: green}

img:hover{
    opacity: 0.7;
}

img:hover{
    opacity: .7;
    -moz-box-shadow:    2px -1px 12px 0px #000;
    -webkit-box-shadow: 2px -1px 12px 0px #000;
    box-shadow:         2px -1px 12px 0px #000;
  }

.page-header{
    background: #000;
    color: white;
}

.page-header a{
    color: indianred;
}

.page-header a:hover{
    color: rgb(37, 15, 116);
}

.main-navigation ul li{
    display: inline-block;
}


img{
    max-width: 100%;
}

body { 
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 3 em;

}